<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instalearnenglish.feature.station4">

    <application>
        <activity
            android:name=".Station4Activity"
            android:exported="false" />
        <activity
            android:name=".ST4_GameHostActivity"
            android:exported="false" />
        <activity
            android:name=".ST4_VocabDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ST4_GameHistoryActivity"
            android:exported="false" />
    </application>

</manifest>
