<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Add this permission for speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".Station1Activity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".ST1_GameHostActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ST1_VocabDetailActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

    </application>
</manifest>
