<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Request permission to use the microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".Station23Activity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
    </application>
</manifest>
