<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instalearnenglish.feature.station5">

    <application>
        <activity
            android:name=".Station5Activity"
            android:exported="false" />
        <activity
            android:name=".ST5_GameHostActivity"
            android:exported="false" />
        <activity
            android:name=".ST5_VocabDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ST5_GameHistoryActivity"
            android:exported="false" />
    </application>

</manifest>
