<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instalearnenglish.feature.home">

    <application>
        <!-- Màn hình chính -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Hệ thống Xác thực -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Hồ sơ người dùng -->
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- Bộ công cụ học tập -->
        <activity
            android:name=".tools.DictionaryActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".tools.FlashcardsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

    </application>

</manifest>
